# Group pop and non-pop

In [1]:
import sys
sys.path.append('/Users/efraflores/Desktop/hub/cornershop/venv/lib/python3.9/site-packages')

In [2]:
CPG = 'danone'

## Import

In [3]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
pd.set_option('display.max_columns',200)
pd.options.display.float_format = '{:.2f}'.format
BASE_DIR = '/Users/efraflores/Desktop/EF/Corner/Catalogo/data/'
print([x for x in os.listdir(BASE_DIR) if x.endswith(f'{CPG}.csv')])

['g_som_danone.csv', 'FINAL_som_danone.csv', 'last_som_danone.csv', 'som_danone.csv', 'nielsen_danone.csv', 'products_danone.csv']

## Functions

In [4]:
import time
import numpy as np
from IPython.lib.display import Audio

start = time.time()
def time_exp(x):
    minutes, seconds = np.floor(x/60), 60*(x/60-np.floor(x/60))
    print(f"{'{:.0f}'.format(minutes)} minutos con {'{:.2f}'.format(seconds)} segundos")
    
def tono(a = 1000, b = 700, play_time_seconds = 1, framerate = 4410):
    t = np.linspace(0, play_time_seconds, framerate*play_time_seconds)*np.pi
    return Audio(np.sin(a*t) + np.sin(b*t), rate = framerate, autoplay=True)

## Transform

In [19]:
df = pd.read_csv(os.path.join(BASE_DIR,f'g_som_{CPG}.csv'),
                 #sep='\t',encoding='utf-16'
                )
values = ['orders', 'sales', 'users', 'units_found', 'units_requested']
group_cols = [x for x in df.columns if x not in values]
df.sample()

,store,category,category_id,product_id,product_name,product_barcodes,product_package,brand_name,formato,proveedor_general,proveedor_abierto,marca_detalle,marca_generica,gramaje,descripcion_nielsen,segmento,subsegmento_1,subsegmento_2,subsegmento_3,mes,anio,orders,sales,users,units_found,units_requested
47756,Walmart,Water,35,336454,Agua sabor uva,7501059295322,6 x 300 ml,Nestlé Agüitas,PACK,NESTLÉ MX,NESTLÉ MX,NESTLÉ AGÜITAS,NESTLÉ AGÜITAS,0.30,NESTLE PUREZA VITAL AGUIT UVA 6PCK300ML,BEBIDAS INFANTILES,AGUA SABORIZADA,PACK < 400 ML,NaN,6,2020,14,542,14,19,26

In [20]:
import re

last = pd.read_csv(os.path.join(BASE_DIR,f'last_som_{CPG}.csv'),sep='\t',encoding='utf-16')
last.rename(columns={'category_en':'category','product_id_x':'product_id',
                     'barcodes':'product_barcodes','package':'product_package', 
                     'brand_filter':'brand_name','store_name':'store'},inplace=True)
last['brand_name'] = last['brand_name'].apply(lambda x: re.sub('\s\(\d+\)','',str(x)))
last.sample(3)

,city_name,store,category,category_id,product_id,product_name,product_barcodes,product_package,product_sku,brand_name,sales,orders,users,units_found,units_replaced,units_requested,formato,proveedor_general,proveedor_abierto,marca_detalle,marca_generica,gramaje,descripcion_nielsen,product_id_y,segmento,subsegmento_1,subsegmento_2,subsegmento_3,mes,anio
861,Toluca,Chedraui,Yogurt,24,339603,Yoghurt sabor fresa con cereal azucarado,7501032332020,140 g,NaN,Danone,100,3,3,10,0,10,INDIVIDUAL,DANONE,DANONE,DANONE,DANONE,0.14,DANONE SABOR FRUTA SOLIDO 130GR C/CEREAL ZUCAR...,182753.00,BB SOLIDO,BASE BUSINESS,NaN,NaN,1,2021
9824,Querétaro,HEB,Water,35,1155859,Bebida aloe vera farmers original,884394007285,500 ml,884394007285.00,Okf,104,1,1,4,0,4,IND,DEMAS FABRICANTES,DEMAS FABRICANTES,OKF,OKF,0.50,BEBIDA ALOE VERA OKF ORIGINAL PZA 500 ML,NaN,BEBIDAS SABORIZADAS,BEBIDAS FUNCIONALES,NaN,NaN,12,2020
8437,Toluca,Chedraui,Yogurt,24,356070,Licuado fresa-plátano con cereales,7501032332426,450 g,NaN,Danone,36,1,1,2,0,2,OVERSIZE,DANONE,DANONE,DANONE,DANONE,0.45,DANONE MIX LICUADO P/BEBR FSA/PTNO/CEREAL 450G...,356070.00,BB LIQUIDO,BASE BUSINESS,NaN,NaN,3,2021

In [26]:
for som in [df,last]:
    som[values[:-1]] = som[values[:-1]].fillna(0)
    som[values[-2:]] = som[values[-2:]].fillna(method='ffill',axis=1)
    som.fillna('',inplace=True)

    for col in values:
        som[col] = som[col].astype(str).str.replace('\,','').astype(int)

<ipython-input-26-aa9259c9693c>:7: FutureWarning: The default value of regex will change from True to False in a future version.
  som[col] = som[col].astype(str).str.replace('\,','').astype(int)

In [17]:
df = df[group_cols+values].append(last.groupby(group_cols)[values].sum().reset_index(),
                                  ignore_index=True)
df.groupby(['anio','mes'])['store'].count().to_frame()

          store
anio mes
2020 1     3355
     2     3395
     3     4048
     4     4753
     5     5200
     6     5884
     7     5074
     8     4937
     9     4673
     10    4552
     11    4539
     12     891
2021 1      962
     2      933
     3      961
     4      935

In [8]:
df = df[group_cols+values].append(last.groupby(group_cols)[values].sum().reset_index(),
                                  ignore_index=True)
df.groupby(['anio','mes'])['store'].count().to_frame()

          store
anio mes
2020 1     3355
     2     3395
     3     4048
     4     4753
     5     5200
     6     5884
     7     5074
     8     4937
     9     4673
     10    4552
     11    4539
     12    4500
2021 1     4960
     2     4922
     3     3589
     4     4843

## Export

In [9]:
df.to_csv(os.path.join(BASE_DIR,f'FINAL_som_{CPG}.csv'),index=False,sep='\t',encoding='utf-16')

## End

In [10]:
time_exp(time.time() - start)
tono()

0 minutos con 1.82 segundos