# Limpiar barcodes

## Parámetros

In [10]:
BASE_DIR = '/Users/efraflores/Desktop/EF/Corner/Catalog/data'
FILE_NAME = 'Barcodes Catalog MX.xlsx'

## Entorno

In [12]:
from numpy import nan
from pathlib import Path
from re import sub, UNICODE
from unicodedata import normalize
from pandas import ExcelFile

BASE_DIR = Path(BASE_DIR)

def clean_text(text: str, pattern: str="[^a-zA-Z0-9\s,]", lower: bool=False) -> str: 
    '''
    Limpieza de texto
    '''
    # Reemplazar acentos: áàäâã --> a
    clean = normalize('NFD', str(text).replace('\n', ' \n ')).encode('ascii', 'ignore')
    # Omitir caracteres especiales !"#$%&/()=...
    clean = sub(pattern, ' ', clean.decode('utf-8'), flags=UNICODE)
    # Mantener sólo un espacio
    clean = sub(r'\s{2,}', ' ', clean.strip())
    # Minúsculas si el parámetro lo indica
    if lower: clean = clean.lower()
    # Si el registro estaba vacío, indicar nulo
    if clean in ('','nan'): clean = nan
    return clean

In [3]:
df = ExcelFile(BASE_DIR.joinpath(FILE_NAME)).parse(sheet_name=0)
df.sample()

Archivo con nombre Barcodes Catalog MX.xlsx fue encontrado en:
/Users/efraflores/Desktop/EF/Corner/Catalog/data
Con 471499 renglones y 7 columnas

,Currency,Product ID,Name,Barcodes,Unnamed: 4,Unnamed: 5,Unnamed: 6
362259,MXN,4760574,Correa Chroma L,{7898582507177},NaN,NaN,NaN

In [14]:
aux = df['Barcodes'].map(clean_text).str.split(',', expand=True).set_index(df.index)
aux.sample()

                   0     1     2     3     4     5     6     7     8     9
382848  813463010673  None  None  None  None  None  None  None  None  None