# Crear catálogo tipo Nielsen con info de Tableau

In [41]:
BASE_DIR = '/Users/efraflores/Desktop/EF/Corner/Brands/data/'
CPG = 'coca'

## Import

In [42]:
import sys
sys.path.append('/Users/efraflores/Desktop/hub/cornershop/venv/lib/python3.9/site-packages')

In [43]:
import os
import numpy as np
import pandas as pd
pd.options.display.float_format = '{:.2f}'.format

print([x for x in os.listdir(BASE_DIR) if x.endswith(f'{CPG}.csv')])

['nielsen_coca.csv', 'pasillos_coca.csv', 'products_coca.csv', 'som_coca.csv']

In [44]:
df = pd.read_csv(os.path.join(BASE_DIR,f'products_{CPG}.csv'),
                 encoding='utf-16',sep='\t',low_memory=False)
df.sample()

,month,country,city name,store_name,category en,category_id,product id,product name,barcodes,package,...,sales,orders,avg ticket,users,units found,units replaced,units requested,found rate,fulfillment,frequency
116787,enero 2021,MX,Monterrey,Soriana,Beverages,36,338887,Refresco de toronja,{7501071120411},2.5 l,...,522,13,40,12,19,0,20,95.0%,95.0%,1.08

## Functions

In [45]:
import time
from IPython.lib.display import Audio

start = time.time()
def time_exp(x):
    minutes, seconds = np.floor(x/60), 60*(x/60-np.floor(x/60))
    print(f"{'{:.0f}'.format(minutes)} minutos con {'{:.2f}'.format(seconds)} segundos")
    
def tono(a = 1000, b = 700, play_time_seconds = 1, framerate = 4410):
    t = np.linspace(0, play_time_seconds, framerate*play_time_seconds)*np.pi
    return Audio(np.sin(a*t) + np.sin(b*t), rate = framerate, autoplay=True)

def melt_barcodes(df,product_id,product_barcodes):
    aux = pd.melt(df.set_index(product_id)[product_barcodes].str.split(',',expand=True).drop_duplicates(), 
                  ignore_index=False, value_name=product_barcodes).dropna()
    aux[product_barcodes] = aux[product_barcodes].str.replace('{','').str.replace('}','')
    df = df.drop(columns=product_barcodes).merge(aux, on=product_id, how='outer')
    return df

## Transform

### Unique product_id

In [46]:
df.drop_duplicates('product id',inplace=True)
df.groupby('month  ')['product id'].count()

month
abril 2021         344
diciembre 2020     135
enero 2021         127
febrero 2021       150
marzo 2021         215
mayo 2021         2891
Name: product id, dtype: int64

### Barcodes

In [47]:
#df = melt_barcodes(df.drop_duplicates(['product id','barcodes']),'product id','barcodes')
df['barcodes'] = df['barcodes'].str.replace('{','').str.replace('}','')
df['barcodes'] = df['barcodes'].str.split(',',n=1).fillna('.').apply(lambda x:x[0])
df['barcodes'].sample(4)

<ipython-input-47-0933fc8c7a0c>:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df['barcodes'] = df['barcodes'].str.replace('{','').str.replace('}','')

16786      891770002840
3647      7500462094416
128061    7501039400470
36173                 .
Name: barcodes, dtype: object

### CPG and brand

In [48]:
prod_cpg = pd.read_csv(os.path.join(BASE_DIR,'pbbc.csv'),
                       #sep='\t',encoding='utf-16'
                      ).drop_duplicates('product_id')
prod_cpg['cpg filter'] = prod_cpg['cpg_name']+" ("+prod_cpg['cpg_id'].astype(str)+")"
df = df.merge(prod_cpg[['product_id','cpg filter']].rename(columns={'product_id':'product id'}))

In [49]:
import re
for col in ['brand filter','cpg filter']:
    df[f'{col[:-7]} id'] = df[col].apply(lambda x: ','.join(re.findall('\s\((\d+)\)',str(x))))
    df[f'{col[:-7]} name'] = df[col].apply(lambda x: re.sub('\s\(\d+\)','',str(x)))
    
df[['cpg filter','cpg id','cpg name','brand filter','brand id','brand name']].sample(4)

,cpg filter,cpg id,cpg name,brand filter,brand id,brand name
793,Grupo Lala MX (7),7,Grupo Lala MX,Lala (5096),5096,Lala
785,Jumex (179),179,Jumex,Vigor (7341),7341,Vigor
557,Grupo Peñafiel (191),191,Grupo Peñafiel,Peñafiel (5587),5587,Peñafiel
1644,AB InBev MX (8),8,AB InBev MX,Victoria (65818),65818,Victoria

### Nielsen structure

In [50]:
df.rename(columns={'cpg name':'PROVEEDOR GENERAL','product id':'PRODUCT ID',
                   'category en':'SEGMENTO', 'product name':'DESCRIPCION NIELSEN', 
                   'barcodes':'UPC', 'package':'GRAMAJE',
                   'brand name':'MARCA GENERICA'}, inplace=True)

df[['FORMATO','PROVEEDOR ABIERTO','MARCA DETALLE',
    'SUBSEGMENTO 1','SUBSEGMENTO 2','SUBSEGMENTO 3']] = ''

#PROVISIONAL PARA QUE KAM LLENEN
df[['CAT_OK','BRAND_OK']] = ''

df = df[['UPC','FORMATO','PROVEEDOR GENERAL','PROVEEDOR ABIERTO',
         'MARCA DETALLE','MARCA GENERICA','GRAMAJE','DESCRIPCION NIELSEN',
         'PRODUCT ID','SEGMENTO',
         'SUBSEGMENTO 1','SUBSEGMENTO 2','SUBSEGMENTO 3',
         #'CAT_OK','BRAND_OK' #PROVISIONAL
        ]].copy()

df.sample(4)

,UPC,FORMATO,PROVEEDOR GENERAL,PROVEEDOR ABIERTO,MARCA DETALLE,MARCA GENERICA,GRAMAJE,DESCRIPCION NIELSEN,PRODUCT ID,SEGMENTO,SUBSEGMENTO 1,SUBSEGMENTO 2,SUBSEGMENTO 3
1000,7503006897603,,Jarritos,,,Jarritos,600 ml.,Refresco Uva,1248530,Beverages,,,
408,7501013100143,,Jumex,,,Jumex,200 ml,Jugo de manzana Único Fresco sin azúcar añadida,312979,Fresh Juice & Nectar,,,
1795,41220643127,,HEB,,,HEB,355 ml,Agua de manantial sabor natural,3333439,Water,,,
930,7501055365401,,Coca Cola,,,Coca-Cola,6 x 355 ml,Refresco light,1152111,Beverages,,,

## Export

In [51]:
df.to_csv(os.path.join(BASE_DIR,f'nielsen_{CPG}.csv'),index=False,
          sep='\t',encoding='utf-16'
         )

## End

In [52]:
time_exp(time.time() - start)
tono()

0 minutos con 0.57 segundos