# Unmapped Metabase

In [1]:
BASE_DIR = '/Users/efraflores/Desktop/EF/Corner/Catalog/Unmapped/data'
STORE = 'alianza'

## Import

In [2]:
import sys
sys.path.append('/Users/efraflores/Desktop/hub/cornershop/venv/lib/python3.9/site-packages')

In [3]:
import os
import time
import numpy as np
import pandas as pd
from IPython.lib.display import Audio

prod = pd.read_csv(os.path.join(BASE_DIR,f'catalog_prod_{STORE}.csv'))
supply = pd.read_csv(os.path.join(BASE_DIR,f'catalog_supply_{STORE}.csv'))

display(prod.sample())
display(supply.sample())

       store_id  catalog_product_id  branch  productbranch_id  price
93203        98              218648     935           8226199   36.0

,sku_source,supply_product_id,catalog_product_id,name,barcode,branch,price_mode,stock,min_last_visit
93396,mx-bodegasalianza-csv,14140837,NaN,Bdy. torres c/2 vasos,8.410114e+12,941.0,500.0,1,2021-02-18T17:06:43.601919Z

## Functions

### Timing and tone

In [4]:
start = time.time()
def time_exp(x):
    minutes, seconds = np.floor(x/60), 60*(x/60-np.floor(x/60))
    print(f"{'{:.0f}'.format(minutes)} minutos con {'{:.2f}'.format(seconds)} segundos")
    
def tono(a = 1000, b = 700, play_time_seconds = 1, framerate = 4410):
    t = np.linspace(0, play_time_seconds, framerate*play_time_seconds)*np.pi
    return Audio(np.sin(a*t) + np.sin(b*t), rate = framerate, autoplay=True)

### Batches

In [5]:
def batches(base_dir,store,data,size=10000):
    df = data.copy()
    n = 0
    for i in range(int(np.ceil(len(df)/size))):
        batch = df.iloc[n:n+size-1,:]
        batch.to_excel(os.path.join(base_dir,f'bulk_{store}_{str(i+1).zfill(2)}.xlsx'),index=False)
        n += size
    print(f'The file with {len(df)} rows has been split up into {i+1} batches of {size} rows each')

### Summary

In [6]:
def summary():
    print(f"Para la tienda {STORE.title()}, los productbranch se distribuyen:\
    \n-Catálogo\t{len(prod)}\
    \n-Supply\t\t{len(supply)}\
    \n-Sin mapear\t{len(unmapped)+len(brands)}\t({'{:.1%}'.format((len(unmapped)+len(brands))/len(full))})\
    \n -Brands\t{len(branch_brands)}\
    \n -Sin órdenes\t{len(df[df['orders']==0])}\
    \n -Buen perform\t{len(good_perf)}\t(FR {'{:.1%}'.format(good_perf['fr'].mean())})\
    \n -Mal perform\t{len(bad_fr)}\t(FR {'{:.1%}'.format(bad_fr['fr'].mean())})\
    \n -Markup +-3%\t{len(mk)}\t(MK {int(mk['mk_tot'].sum())}, {'{:.1%}'.format(mk['mk_tot'].sum()/mk['sales'].sum())})\
    \n\n-Por desactivar\t{len(bad_perf)}\t({'{:.1%}'.format(len(bad_perf)/len(prod))})\
    \n -Productos \t{len(bad_perf.groupby('catalog_product_id')['store_id'].count())}\
    \n -Órdenes\t{int(bad_perf['orders'].sum())}\t({'{:.1%}'.format(bad_perf['orders'].sum()/total['orders'].sum())})\
    \n -Ventas $ \t{int(bad_perf['sales'].sum())}\t({'{:.1%}'.format(bad_perf['sales'].sum()/total['sales'].sum())})")

## Unmapped from prod

In [7]:
full = prod.merge(supply,how='left',on=['branch','catalog_product_id'])
full.isnull().mean()

store_id              0.000000
catalog_product_id    0.000000
branch                0.000000
productbranch_id      0.000000
price                 0.000000
sku_source            0.596777
supply_product_id     0.596777
name                  0.596777
barcode               0.596777
price_mode            0.596777
stock                 0.596777
min_last_visit        0.596777
dtype: float64

In [8]:
unmapped = full[full['supply_product_id'].isnull()].dropna(axis=1)
unmapped.to_csv(os.path.join(BASE_DIR,f'check_brands_{STORE}.csv'),index=False)

## Brands

Check with @Alan Sánchez Márquez if any product_id was created by Brands

In [9]:
brands = pd.read_csv(os.path.join(BASE_DIR,f'checked_{STORE}.csv'))
brands

   catalog_product_id  match
0             3906875      1
1             1116980      1
2             1154000      1
3              368209      1
4              383363      1
5              384378      1
6             1245642      1
7             1014261      1
8              323692      1

In [10]:
branch_brands = unmapped[unmapped['catalog_product_id'].isin(brands['catalog_product_id'])]
unmapped = unmapped[~unmapped['catalog_product_id'].isin(brands['catalog_product_id'])].copy()
','.join(set(unmapped['catalog_product_id'].dropna().astype(int).astype(str)))

'360778,2255893,129859,383588,174089,96865,383520,141514,1155662,357349,281975,353436,151314,383333,355849,383530,168683,280153,345551,591043,383494,1126262,383635,171286,383597,1993944,129828,353032,319735,594240,139185,383632,383405,383293,604813,140166,383353,138258,592705,2161160,2442313,328885,383335,323243,357658,383507,383546,383590,383610,383591,383580,220847,140638,1230746,383498,383263,140346,170562,383282,324074,383390,591911,383585,383558,383426,141515,320402,328175,356222,383272,323181,383294,367500,601009,1109195,379985,137605,338578,314560,137348,592961,313187,346098,137632,592630,320422,341897,383318,140550,324090,367819,388156,343777,383281,343952,367441,312416,383249,353651,316255,356499,383447,138468,383509,1156222,589676,376684,383436,383469,357035,226008,341893,328267,383277,323736,1006858,1217230,367609,346023,1188429,357712,383283,594422,383310,383264,356041,383526,383455,360845,369727,383619,317231,383645,321222,375796,444769,595373,383560,413366,383247,341903,383462,383543,139141,1142903,273871,383676,363385,413669,2026185,383541,383486,383574,383492,324128,387751,383565,2161179,383334,362373,383518,353348,355255,2060196,383584,1010754,180329,356486,329020,383491,383266,588309,137645,383639,361062,369722,597873,389377,362311,324122,386835,140404,339807,168865,383566,152362,383474,383309,338543,383456,139280,1012021,599999,383297,592733,344269,355391,389152,1004406,383495,345459,1604553,331728,383513,415203,383605,383475,383439,356336,383274,340152,383413,390774,375663,374988,1155390,374688,2161201,323247,383362,324127,1126310,383337,344148,590274,137533,383236,323277,592800,383243,383392,341898,361088,383406,313121,140619,138763,370467,366298,285096,383379,1006482,383354,353051,592878,313163,383603,323900,383511,383259,383301,1245669,356855,138516,2161145,139212,141491,375056,613597,355526,139189,327821,383306,390265,390624,355786,355285,374966,383359,1898092,383296,383594,1152045,138700,168848,375874,593932,383419,1216523,361172,139251,280602,1009508,604496,383265,383349,174063,344260,383388,353621,383295,1006719,383338,595802,1245636,383596,284302,141534,367530,341909,375238,383339,383625,383561,383563,593224,383550,345606,383425,590324,356335,1228260,1185225,340517,328841,339924,360860,320412,593247,596405,1993264,383366,1009515,383577,388246,390784,383493,591566,366286,340772,324121,344449,375340,383441,139058,1154511,1216783,594423,383516,383470,352942,355237,206187,2161208,383628,383358,363376,597804,383627,383589,328722,592269,1153320,355216,341570,151807,383510,140640,383437,357713,383607,383624,366077,129887,353649,367567,363054,334013,383378,383385,383398,323691,345992,141538,285097,342335,383396,140391,589647,139274,339494,374899,1153333,322438,360902,357034,138206,591951,313193,356052,174539,390343,323672,380195,1155772,383400,353229,387357,2277308,141508,327828,1217207,599541,138689,383545,362442,383442,366308,174548,383508,383357,1152047,356241,383525,598176,1898111,313182,151328,139200,137423,383408,383583,1902424,340477,597853,390783,2442314,174088,593969,383535,361087,383538,596311,383253,390630,1217174,383459,383557,138459,383553,321139,353061,383341,355436,277338,383348,353361,328889,339806,383329,368204,383515,342730,328752,383450,383522,368729,413348,2060207,120222,362484,331573,595213,605915,323394,328813,383387,1579801,383328,383255,319734,168976,383604,383473,367545,383471,590203,597483,368277,324372,597724,591897,389487,355660,138237,601998,383322,383324,383315,375352,383586,383575,383480,140675,383411,220823,2161151,343546,1245641,357030,357026,1216560,141482,1202162,383505,383356,383609,383528,328182,139322,383417,392319,323530,170538,386797,319741,869059,362637,357154,383268,1217051,375104,281341,1216695,356519,327956,1155402,1009560,1217173,383316,597379,597470,598107,383302,137404,137590,340622,446895,360813,1202144,356074,590225,355659,324296,592953,383299,383481,389301,383581,346116,341901,366310,383415,357029,1155450,383472,362362,319939,374808,328522,383529,355854,383347,593119,129848,360806,353117,1217218,137373,367821,604827,323504,286055,353249,1871167,273774,2060191,137611,375801,353258,328088,357027,357715,366097,356204,383587,218648,323834,1993289,168624,383531,334096,140349,383521,138740,324073,137607,1216807,390115,593233,383551,383395,357038,285569,313186,352928,2493546,383287,321375,285989,141485,357211,174091,280729,1112472,140081,343387,357153,2161155,383642,134079,383330,357322,383479,2161210,129860,2161150,2161191,355389,2161197,360939,375066,375270,273872,375291,383548,357490,274163,324094,591810,390055,383540,383276,353438,320468,383440,383465,1125989,383501,140711,383552,274328,383350,118691,389465,1259825,341406,137540,383435,374775,370478,345049,598135,383499,383523,281333,369231,139271,283084,1993140,363522,345098,140712,383519,137656,390357,598680,137619,168695,341911,342403,361038,134134,383630,383258,383238,606617,592933,1155816,341906,1216556,361100,343144,613657,389357,338137,1217404,1240827,1579793,383345,383368,388249,383307,319945,327797,281414,352995,1159501,383500,383433,356085,593509,362294,356196,383449,383377,593087,602009,383578,341910,375257,353281,314373,594092,383570,383431,383271,383323,383273,383616,597736,317229,383487,345994,137634,383620,320406,357173,1604567,1216866,383468,1005089,365127,356831,1228255,355943,597675,385216,344117,323720,602502,356321,225953,383497,383612,383308,383279,2161206,383643,383332,383393,1245640,323526,1216809,205372,276808,355709,383303,591697,383389,360903,2467701,369243,383420,383391,370142,345162,362683,361105,313194,321512,596691,354592,383418,383461,376677,383478,169606,361049,333575,383304,355382,357669,168511,168786,282356,383621,328020,390504,353370,365045,380334,323493,383412,389984,366163,383568,383466,324442,383381,396341,383397,383446,343452,320514,591553,596614,362996,389535,340506,540678,2255860,134086,1897939,605223,360809,170493,138532,383458,312412,339087,383549,133119,383284,284294,2442315,383438,171423,383403,337575,383286,1153338,367555,383376,383404,346051,141532,383533,327989,319705,139250,366104,602278,1216766,376675,341895,1228258,168675,383567,137606,383432,601743,312384,344210,324405,387246,360823,383637,370434,383571,383346,338025,383606,152280,383517,174405,383248,139304,356286,362641,383482,320467,383595,383524,375361,170531,2113824,601048,367727,591055,356077,383340,313427,1153579,261298,383544,313199,383361,1129115,340928,383250,140347,137430,383631,139057,383421,383312,390170,1228270,383270,383360,262383,355656,168971,2161184,320211,138285,592293,362339,367414,383401,355182,339943,327815,323835,3018258,451912,387219,383292,344739,383352,140687,362328,388274,383532,356865,360929,383445,352963,357025,374972,595696,383454,375777,170529,383285,367777,389319,316711,600898,1150433,602006,383260,129831,353097,383298,312935,383423,324161,357037,320463,607112,375323,1153265,388256,1579794,367483,206186,328566,380342,139318,353039,383556,336122,383399,591544,1124178,1155815,2026189,140071,383593,323901,383611,283102,383644,344270,168752,383256,2026188,170519,353975,2015231,341912,355173,383331,316675,341899,273847,383369,592583,592835,340921,368122,383569,345864,361131,140710,137531,210222,1830371,362330,320508,591680,596080,2060190,390585,383300,602215,1854840,383242,390537,375383,383394,138384,383336,1603840,383320,383288,345646,342320,324124,413288,356513,170532,590659,383600,604801,96278,383536,383559,386169,343931,1217050,367756,383452,357317,345868,383453,357346,341904,342397,609031,592694,117620,369395,383476,2255908,383564,383448,141590,139012,595021,383555,324125,367732,1152075,383278,341894,383311,383514,353546,383646,129790,1993250,602013,129858,591906,383618,138440,93731,383527,383489,390342,383506,344375,396288,383275,1216687,383371,324123,356245,327901,333349,344896,383572,362360,380522,383599,413279,357040,366124,1993298,368197,341908,1604151,345163,383409,383537,383305,390762,129849,383460,389337,593243,592782,354757,363520,360819,2161147,341896,374913,607018,388177,383414,346206,594771,383402,383416,596396,383321,375994,1902423,339795,383463,2072282,1242169,342475,540741,383602,319941,323242,593178,140128,383291,355179,375052,383485,376013,353269,356206,383488,383601,383325,2026184,355455,386827,383327,597154,367752,323240,592949,284309,362382,328431,383504,137593,389157,383267,602333,323413,390351,591375,598383,273828,368480,356323,366216,383496,383254,329014,1155818,383622,363492,1185211,383364,345766,598099,413666,1216697'

## Orders from unmapped

In [11]:
orders = pd.read_csv(os.path.join(BASE_DIR,f'orders_{STORE}.csv'))
orders.head()

,level,date,catalog_product_id,branch,productbranch_id,min_branch_price,avg_branch_price,max_branch_price,min_shopper_price,avg_shopper_price,max_shopper_price,requested,found,orders,sales
0,TOTAL,2021-06-11,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,115.0,100.0,60,54349.99
1,TOTAL,2021-06-12,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,104.0,87.0,52,49309.74
2,TOTAL,2021-06-10,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,83.0,69.0,39,36009.10
3,TOTAL,2021-06-13,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,22.0,17.0,10,9242.37
4,product_branch,2021-06-11,336122,7651,38195757,150.0,150.0,150.0,150.0,150.0,150.0,3.0,3.0,2,450.00

In [12]:
total = orders[orders['level']=='TOTAL'].iloc[:,-4:].copy()
total['fr'] = total['found']/total['requested']
total['avg_items'] = total['requested']/total['orders']
total

   requested  found  orders     sales        fr  avg_items
0      115.0  100.0      60  54349.99  0.869565   1.916667
1      104.0   87.0      52  49309.74  0.836538   2.000000
2       83.0   69.0      39  36009.10  0.831325   2.128205
3       22.0   17.0      10   9242.37  0.772727   2.200000

### Total

In [13]:
df = unmapped.merge(orders.iloc[:,3:],on='productbranch_id',how='left').fillna(0)
df = df[~df['catalog_product_id'].isin(brands['catalog_product_id'])].copy()
df = df.sort_values('orders',0,0).reset_index(drop=True)
df['fr'] = (df['found']/(df['requested']+1e-10)).apply(lambda x: min(1,x))
print(df['fr'].describe())
df.head()

count    77326.000000
mean         0.001145
std          0.033764
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: fr, dtype: float64

,store_id,catalog_product_id,branch_x,productbranch_id,price,branch_y,min_branch_price,avg_branch_price,max_branch_price,min_shopper_price,avg_shopper_price,max_shopper_price,requested,found,orders,sales,fr
0,98,352963,916,8239069,635.0,916.0,635.0,635.0,635.0,610.0,610.0,610.0,2.0,2.0,2.0,1270.0,1.0
1,98,1993298,7628,45769157,295.0,7628.0,295.0,295.0,295.0,325.0,325.0,325.0,2.0,1.0,2.0,295.0,0.5
2,98,383601,971,8268497,164.0,971.0,164.0,164.0,164.0,164.0,164.0,164.0,1.0,1.0,1.0,164.0,1.0
3,98,140711,920,8235607,152.0,920.0,152.0,152.0,152.0,160.0,160.0,160.0,2.0,2.0,1.0,304.0,1.0
4,98,383347,950,8258469,180.0,950.0,180.0,180.0,180.0,180.0,180.0,180.0,1.0,1.0,1.0,180.0,1.0

### Bad performance

BULK TOOL

<https://cornershopapp.com/catalog/dashboard/bulk_update/product_branches/>

In [14]:
df['avg_price'] = df['sales'] / df['found']
df['mk_un'] = df['avg_price'] - df['price']
df['mk_p'] = df['mk_un'] / df['avg_price']
df['mk_tot'] = df['sales'] - df['price']*df['found']
bad_fr = df[(df['fr']<=total['fr'][0]*.9)
            #&(df['orders']>0)
           ].copy()
mk = df[(df['mk_p']<-.03)|(df['mk_p']>.03)].copy()
bad_perf = bad_fr.append(mk)
print(bad_perf['fr'].describe())
bad_perf.head()

count    77239.000000
mean         0.000019
std          0.004023
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: fr, dtype: float64

,store_id,catalog_product_id,branch_x,productbranch_id,price,branch_y,min_branch_price,avg_branch_price,max_branch_price,min_shopper_price,...,max_shopper_price,requested,found,orders,sales,fr,avg_price,mk_un,mk_p,mk_tot
1,98,1993298,7628,45769157,295.0,7628.0,295.0,295.0,295.0,325.0,...,325.0,2.0,1.0,2.0,295.0,0.5,295.0,0.0,0.0,0.0
5,98,2467701,7668,67376894,142.0,7668.0,142.0,142.0,142.0,0.0,...,0.0,2.0,0.0,1.0,0.0,0.0,NaN,NaN,NaN,0.0
8,98,137656,927,8231477,165.0,927.0,165.0,165.0,165.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,NaN,NaN,NaN,0.0
12,98,386797,7651,38194859,221.0,7651.0,221.0,221.0,221.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,NaN,NaN,NaN,0.0
17,98,383521,930,8262912,445.0,930.0,445.0,445.0,445.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,NaN,NaN,NaN,0.0

### Good performance

Ask the KAM to talk to the partner in order to activate that product

In [15]:
good_perf = df[(~df['productbranch_id'].isin(bad_perf['productbranch_id']))&
               (df['orders']>0)].copy()
good_perf.to_csv(os.path.join(BASE_DIR,f'good_perf_{STORE}.csv'),index=False)
print(good_perf['fr'].describe())
good_perf.head()

count    8.700000e+01
mean     1.000000e+00
std      2.668238e-11
min      1.000000e+00
25%      1.000000e+00
50%      1.000000e+00
75%      1.000000e+00
max      1.000000e+00
Name: fr, dtype: float64

,store_id,catalog_product_id,branch_x,productbranch_id,price,branch_y,min_branch_price,avg_branch_price,max_branch_price,min_shopper_price,...,max_shopper_price,requested,found,orders,sales,fr,avg_price,mk_un,mk_p,mk_tot
0,98,352963,916,8239069,635.0,916.0,635.0,635.0,635.0,610.0,...,610.0,2.0,2.0,2.0,1270.0,1.0,635.0,0.0,0.0,0.0
2,98,383601,971,8268497,164.0,971.0,164.0,164.0,164.0,164.0,...,164.0,1.0,1.0,1.0,164.0,1.0,164.0,0.0,0.0,0.0
3,98,140711,920,8235607,152.0,920.0,152.0,152.0,152.0,160.0,...,160.0,2.0,2.0,1.0,304.0,1.0,152.0,0.0,0.0,0.0
4,98,383347,950,8258469,180.0,950.0,180.0,180.0,180.0,180.0,...,180.0,1.0,1.0,1.0,180.0,1.0,180.0,0.0,0.0,0.0
6,98,345459,935,8226420,412.0,935.0,412.0,412.0,412.0,412.0,...,412.0,1.0,1.0,1.0,412.0,1.0,412.0,0.0,0.0,0.0

## Bulk

In [31]:
#bad_perf#.to_csv(os.path.join(BASE_DIR,f'bad_performance_{STORE}.csv'),index=False)

In [16]:
export = bad_perf[['store_id','productbranch_id']].copy()
export.rename(columns={'productbranch_id':'product_branch_id'},inplace=True)
export[['price','availability','schedule']] = ''
export.head()

    store_id  product_branch_id price availability schedule
1         98           45769157
5         98           67376894
8         98            8231477
12        98           38194859
17        98            8262912

In [17]:
batches(BASE_DIR,STORE,export)

The file with 77239 rows has been split up into 8 batches of 10000 rows each

## Summary

In [18]:
time_exp(time.time()-start)
tono()

0 minutos con 7.75 segundos

In [19]:
summary()

Para la tienda Alianza, los productbranch se distribuyen:
-Catálogo	128740
-Supply		131221
-Sin mapear	77334	(59.3%)
 -Brands	450
 -Sin órdenes	77200
 -Buen perform	87	(FR 100.0%)
 -Mal perform	77238	(FR 0.0%)
 -Markup +-3%	1	(MK 15, 5.4%)

-Por desactivar	77239	(60.0%)
 -Productos 	1189
 -Órdenes	40	(24.8%)
 -Ventas $ 	575	(0.4%)