# Unmapped Metabase

In [21]:
BASE_DIR = '/Users/efraflores/Desktop/EF/Corner/Catalog/Unmapped/data'
STORE = 'vinoteca'

## Import

In [22]:
import sys
sys.path.append('/Users/efraflores/Desktop/hub/cornershop/venv/lib/python3.9/site-packages')

In [23]:
import os
import time
import numpy as np
import pandas as pd
from IPython.lib.display import Audio

prod = pd.read_csv(os.path.join(BASE_DIR,f'catalog_prod_{STORE}.csv'))
supply = pd.read_csv(os.path.join(BASE_DIR,f'catalog_supply_{STORE}.csv'))

display(prod.sample())
display(supply.sample())

       store_id  catalog_product_id  branch  productbranch_id   price
10778        97              384029     903           8276402  3249.0

,sku_source,supply_product_id,catalog_product_id,name,barcode,branch,price_mode,stock,min_last_visit
15770,mx-vinoteca-csv,14145903,383816.0,Tto ch la cardonne 09,3.296351e+12,900,699.0,1,2021-02-07T01:25:22.886134Z

## Functions

### Timing and tone

In [24]:
start = time.time()
def time_exp(x):
    minutes, seconds = np.floor(x/60), 60*(x/60-np.floor(x/60))
    print(f"{'{:.0f}'.format(minutes)} minutos con {'{:.2f}'.format(seconds)} segundos")
    
def tono(a = 1000, b = 700, play_time_seconds = 1, framerate = 4410):
    t = np.linspace(0, play_time_seconds, framerate*play_time_seconds)*np.pi
    return Audio(np.sin(a*t) + np.sin(b*t), rate = framerate, autoplay=True)

### Batches

In [25]:
def batches(base_dir,store,data,size=10000):
    df = data.copy()
    n = 0
    for i in range(int(np.ceil(len(df)/size))):
        batch = df.iloc[n:n+size-1,:]
        batch.to_excel(os.path.join(base_dir,f'bulk_{store}_{str(i+1).zfill(2)}.xlsx'),index=False)
        n += size
    print(f'The file with {len(df)} rows has been split up into {i+1} batches of {size} rows each')

### Summary

In [26]:
def summary():
    print(f"Para la tienda {STORE.title()}, los productbranch se distribuyen:\
    \n-Catálogo\t{len(prod)}\
    \n-Supply\t\t{len(supply)}\
    \n-Sin mapear\t{len(unmapped)+len(brands)}\t({'{:.1%}'.format((len(unmapped)+len(brands))/len(full))})\
    \n -Brands\t{len(branch_brands)}\
    \n -Sin órdenes\t{len(df[df['orders']==0])}\
    \n -Buen perform\t{len(good_perf)}\t(FR {'{:.1%}'.format(good_perf['fr'].mean())})\
    \n -Mal perform\t{len(bad_fr)}\t(FR {'{:.1%}'.format(bad_fr['fr'].mean())})\
    \n -Markup +-3%\t{len(mk)}\t(MK {int(mk['mk_tot'].sum())}, {'{:.1%}'.format(mk['mk_tot'].sum()/mk['sales'].sum())})\
    \n\n-Por desactivar\t{len(bad_perf)}\t({'{:.1%}'.format(len(bad_perf)/len(prod))})\
    \n -Productos \t{len(bad_perf.groupby('catalog_product_id')['store_id'].count())}\
    \n -Órdenes\t{int(bad_perf['orders'].sum())}\t({'{:.1%}'.format(bad_perf['orders'].sum()/total['orders'].sum())})\
    \n -Ventas $ \t{int(bad_perf['sales'].sum())}\t({'{:.1%}'.format(bad_perf['sales'].sum()/total['sales'].sum())})")

## Unmapped from prod

In [27]:
full = prod.merge(supply,how='left',on=['branch','catalog_product_id'])
full.isnull().mean()

store_id              0.00000
catalog_product_id    0.00000
branch                0.00000
productbranch_id      0.00000
price                 0.00000
sku_source            0.35459
supply_product_id     0.35459
name                  0.35459
barcode               0.35459
price_mode            0.35459
stock                 0.35459
min_last_visit        0.35459
dtype: float64

In [28]:
unmapped = full[full['supply_product_id'].isnull()].dropna(axis=1)
unmapped.to_csv(os.path.join(BASE_DIR,f'check_brands_{STORE}.csv'),index=False)

## Brands

Check with @Alan Sánchez Márquez if any product_id was created by Brands

In [29]:
brands = pd.read_csv(os.path.join(BASE_DIR,f'checked_{STORE}.csv'))
brands

   catalog_product_id  match
0              368209      1
1              383363      1
2             1008145      1
3             1010415      1
4             1010426      1
5             1245642      1

In [30]:
branch_brands = unmapped[unmapped['catalog_product_id'].isin(brands['catalog_product_id'])]
unmapped = unmapped[~unmapped['catalog_product_id'].isin(brands['catalog_product_id'])].copy()
','.join(set(unmapped['catalog_product_id'].dropna().astype(int).astype(str)))

'1897939,320467,384042,384155,383833,383954,384011,384056,384313,383902,383738,1001762,384067,375659,383698,383910,383803,137533,384308,375066,383690,384143,384093,129840,366077,384167,384292,383849,355389,357490,384110,383679,1898114,383857,368277,384097,384096,383796,384291,324439,2043400,384280,384240,384102,2255908,384306,1604151,383895,384271,384051,344896,384045,383296,1216321,2043290,1240827,141491,383831,383913,383853,384269,493895,129848,383926,3018258,362382,344148,354295,383773,384206,383862,383726,273774,383894,384084,383945,383780,357317,384090,689865,383674,383804,383896,383951,384233,357153,384203,383876,383882,384148,384159,383658,384018,383708,383770,94260,384072,384094,352963,384073,606366,384039,598282,598383,383897,1159501,1217210,2407326,384057,1129115,1245639,597804,1001777,383697,384294,384008,129841,597483,383904,384020,384024,384193,383879,383693,383816,383890,383691,383880,383867,2408323,383865,384070,383794,422352,383837,384108,384092,383953,383887,384115,1216661,2408324,606218,383860,383872,384146,281333,383824,383900,384293,594908,383746,339806,383892,384279,140128,384137,1245634,323718,384030,137620,191072,383701,2113824,374899,383348,383931,317839,362442,384029,384204,384046,383748,334121,383916,375291,384043,384202,383944,389526,384595,315878,592694,356077,384065,383742,383869,384211,1012021,2065172,1604553,605751,383888,383868,383830,1155450,384071,383932,384131,383937,170519,353229,2060202,383630,383898,2021245,384062,383815,1230746,384166,383825,383919,389157,2161177,384054,1217050,384267,383921,597355,384031,384107,383704,383891,383819,383676,384111,390537,544015,362373,383847,384121,384059,383940,320464,614376,383779,384129,384032,384081,383254,312416,384200,544002,383545,384015,384305,383943,1004406,384100,384040,384314,383918,140071,383927,384171,1160121,383685,384055,384174,1152045,313349,344375,384272,1603945,383933,383721,374921,385216,280337,383915,137643,383745,353249,383763,383859,383914,317838,375179,383924,321375,1124178,384091,343770,607112,383893,384063,383828,383906,384013,384310,383941,383615,384021,383929,384175,384260,384025,384123,383955,593224,2224607,383673,352928,1155815,383793,141532,363385,384274,345766,383720,544010,1233777,1603970,383715,383762,384142,384061,384216,362683,141675,386827,1604152,384038,384249,1228263,139322,1871167,383686,383449,383907,341570,384028,166392,383952,384041,1001769,383938,384259,220847,384053,1155632,384049,384066,2334719,383864,323514,383875,383835,356499,384027,1149644,384034,384058,384116,1217172,384109,383950,383834,352948,383705,383818,2457798,368480,383870,383703,383688,383471,383909,384099,1499489,384050,323736,383669,383781,384311,281975,257953,320514,383778,384074,1010754,384098,342000,1150186,383861,384106,384064,2407329,339807,384140,1604154,383873,355526,384033,384154,604789,383799,383863,323640,383886,2161160,1499513,383695,2408562,383766,1604567,384019,383934,384150,355943,383814,384264,1245656,384288,383836,384085,598380,2060196,2407327,274325,344260,383878,384101,384124,140496,383758,383817,384207,594615,384005,182471,367567,384075,137464,134134,605904,390265,384023,383390,1499491,390357,384112,383823,383885,602614,383925,384035,374966,384082,384083,594573,383851,487841,384270,314019,375796,591566,384069,384080,1155402,384145,1993289,383877,383947,598173,383854,601092,383684,383692,380342,383743,390583,384017,384010,383663,1009515,1579801,383802,384022,383845,317836,384169,384278,383777,383889,383689,383717,1155818,273803,383364,383942,384026,597444,383881,384012,384138,383706,384095,383949,1603810,365045,383622,390055,598176,2161179,384016,383948,384132,384078,313182,1993264,383912,384077,340517,383922,383764,313193,383908,383844,361105,384052,383620,210222,384036,341909,384141,1155405,1259716,2408561,346098,384103,323719,384139,375340,1006811,446841,383826,2279192,1217385'

## Orders from unmapped

In [31]:
orders = pd.read_csv(os.path.join(BASE_DIR,f'orders_{STORE}.csv'))
orders.head()

,level,date,catalog_product_id,branch,productbranch_id,min_branch_price,avg_branch_price,max_branch_price,min_shopper_price,avg_shopper_price,max_shopper_price,requested,found,orders,sales
0,TOTAL,2021-06-19,0,0,0,0.00,0.00,0.00,0.00,0.00,0.00,324.0,278.0,137,183334.07
1,TOTAL,2021-06-18,0,0,0,0.00,0.00,0.00,0.00,0.00,0.00,251.0,220.0,109,143190.58
2,TOTAL,2021-06-17,0,0,0,0.00,0.00,0.00,0.00,0.00,0.00,153.0,128.0,67,96048.92
3,TOTAL,2021-06-20,0,0,0,0.00,0.00,0.00,0.00,0.00,0.00,50.0,46.0,21,27992.88
4,product_branch,2021-06-19,388245,893,8485095,398.97,398.97,398.97,398.97,398.97,398.97,21.0,22.0,13,8777.34

In [32]:
total = orders[orders['level']=='TOTAL'].iloc[:,-4:].copy()
total['fr'] = total['found']/total['requested']
total['avg_items'] = total['requested']/total['orders']
total

   requested  found  orders      sales        fr  avg_items
0      324.0  278.0     137  183334.07  0.858025   2.364964
1      251.0  220.0     109  143190.58  0.876494   2.302752
2      153.0  128.0      67   96048.92  0.836601   2.283582
3       50.0   46.0      21   27992.88  0.920000   2.380952

### Total

In [33]:
df = unmapped.merge(orders.iloc[:,3:],on='productbranch_id',how='left').fillna(0)
df = df[~df['catalog_product_id'].isin(brands['catalog_product_id'])].copy()
df = df.sort_values('orders',0,0).reset_index(drop=True)
df['fr'] = (df['found']/(df['requested']+1e-10)).apply(lambda x: min(1,x))
print(df['fr'].describe())
df.head()

count    8978.000000
mean        0.009245
std         0.095710
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         1.000000
Name: fr, dtype: float64

,store_id,catalog_product_id,branch_x,productbranch_id,price,branch_y,min_branch_price,avg_branch_price,max_branch_price,min_shopper_price,avg_shopper_price,max_shopper_price,requested,found,orders,sales,fr
0,97,1993289,893,45768796,317.0,893.0,317.0,317.0,317.0,317.00,326.333333,345.00,3.0,3.0,3.0,951.0,1.0
1,97,2065172,910,50875187,946.9,910.0,946.9,946.9,946.9,722.25,834.575000,946.90,5.0,5.0,2.0,4734.5,1.0
2,97,383348,893,61733539,345.0,893.0,345.0,345.0,345.0,0.00,0.000000,0.00,2.0,0.0,2.0,0.0,0.0
3,97,384249,897,8280624,266.0,897.0,266.0,266.0,266.0,266.00,286.655000,307.31,3.0,3.0,2.0,798.0,1.0
4,97,355389,904,9276623,799.0,904.0,799.0,799.0,799.0,614.00,614.000000,614.00,2.0,2.0,1.0,1598.0,1.0

### Bad performance

BULK TOOL

<https://cornershopapp.com/catalog/dashboard/bulk_update/product_branches/>

In [34]:
df['avg_price'] = df['sales'] / df['found']
df['mk_un'] = df['avg_price'] - df['price']
df['mk_p'] = df['mk_un'] / df['avg_price']
df['mk_tot'] = df['sales'] - df['price']*df['found']
bad_fr = df[(df['fr']<=total['fr'][0]*.9)
            &(df['orders']>0)
           ].copy()
mk = df[(df['mk_p']<-.03)|(df['mk_p']>.03)].copy()
bad_perf = bad_fr.append(mk)
print(bad_perf['fr'].describe())
bad_perf.head()

count    55.0
mean      0.0
std       0.0
min       0.0
25%       0.0
50%       0.0
75%       0.0
max       0.0
Name: fr, dtype: float64

,store_id,catalog_product_id,branch_x,productbranch_id,price,branch_y,min_branch_price,avg_branch_price,max_branch_price,min_shopper_price,...,max_shopper_price,requested,found,orders,sales,fr,avg_price,mk_un,mk_p,mk_tot
2,97,383348,893,61733539,345.0,893.0,345.0,345.0,345.0,0.0,...,0.0,2.0,0.0,2.0,0.0,0.0,NaN,NaN,NaN,0.0
7,97,374966,893,61732918,613.0,893.0,613.0,613.0,613.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,NaN,NaN,NaN,0.0
8,97,384264,897,8280639,199.0,897.0,199.0,199.0,199.0,199.0,...,199.0,1.0,0.0,1.0,0.0,0.0,NaN,NaN,NaN,0.0
10,97,317838,902,8480146,24.0,902.0,24.0,24.0,24.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,NaN,NaN,NaN,0.0
11,97,1001769,910,18798184,949.0,910.0,949.0,949.0,949.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,NaN,NaN,NaN,0.0

### Good performance

Ask the KAM to talk to the partner in order to activate that product

In [35]:
good_perf = df[(~df['productbranch_id'].isin(bad_perf['productbranch_id']))&
               (df['orders']>0)].copy()
good_perf.to_csv(os.path.join(BASE_DIR,f'good_perf_{STORE}.csv'),index=False)
print(good_perf['fr'].describe())
good_perf.head()

count    8.300000e+01
mean     1.000000e+00
std      2.276379e-11
min      1.000000e+00
25%      1.000000e+00
50%      1.000000e+00
75%      1.000000e+00
max      1.000000e+00
Name: fr, dtype: float64

,store_id,catalog_product_id,branch_x,productbranch_id,price,branch_y,min_branch_price,avg_branch_price,max_branch_price,min_shopper_price,...,max_shopper_price,requested,found,orders,sales,fr,avg_price,mk_un,mk_p,mk_tot
0,97,1993289,893,45768796,317.0,893.0,317.0,317.0,317.0,317.00,...,345.00,3.0,3.0,3.0,951.0,1.0,317.0,0.0,0.0,0.0
1,97,2065172,910,50875187,946.9,910.0,946.9,946.9,946.9,722.25,...,946.90,5.0,5.0,2.0,4734.5,1.0,946.9,0.0,0.0,0.0
3,97,384249,897,8280624,266.0,897.0,266.0,266.0,266.0,266.00,...,307.31,3.0,3.0,2.0,798.0,1.0,266.0,0.0,0.0,0.0
4,97,355389,904,9276623,799.0,904.0,799.0,799.0,799.0,614.00,...,614.00,2.0,2.0,1.0,1598.0,1.0,799.0,0.0,0.0,0.0
5,97,339806,904,8480737,519.0,904.0,519.0,519.0,519.0,548.37,...,548.37,1.0,1.0,1.0,519.0,1.0,519.0,0.0,0.0,0.0

## Bulk

In [36]:
#bad_perf#.to_csv(os.path.join(BASE_DIR,f'bad_performance_{STORE}.csv'),index=False)

In [37]:
export = bad_perf[['store_id','productbranch_id']].copy()
export.rename(columns={'productbranch_id':'product_branch_id'},inplace=True)
export[['price','availability','schedule']] = ''
export.head()

    store_id  product_branch_id price availability schedule
2         97           61733539
7         97           61732918
8         97            8280639
10        97            8480146
11        97           18798184

In [38]:
batches(BASE_DIR,STORE,export)

The file with 55 rows has been split up into 1 batches of 10000 rows each

## Summary

In [39]:
time_exp(time.time()-start)
tono()

0 minutos con 0.43 segundos

In [40]:
summary()

Para la tienda Vinoteca, los productbranch se distribuyen:
-Catálogo	23316
-Supply		29124
-Sin mapear	8978	(35.4%)
 -Brands	25
 -Sin órdenes	8840
 -Buen perform	83	(FR 100.0%)
 -Mal perform	55	(FR 0.0%)
 -Markup +-3%	0	(MK 0, nan%)

-Por desactivar	55	(0.2%)
 -Productos 	46
 -Órdenes	56	(16.8%)
 -Ventas $ 	0	(0.0%)

<ipython-input-26-327d3699787d>:10: RuntimeWarning: invalid value encountered in double_scalars
  \n -Markup +-3%\t{len(mk)}\t(MK {int(mk['mk_tot'].sum())}, {'{:.1%}'.format(mk['mk_tot'].sum()/mk['sales'].sum())})\