In [1]:
BASE_DIR = '/Users/efraflores/Desktop/EF/Corner/GeoCS'

In [21]:
from pathlib import Path

from shapely import wkt
from pandas import read_csv
from geopandas import GeoDataFrame, points_from_xy

BASE_DIR = Path(BASE_DIR)

In [17]:
opz = read_csv(BASE_DIR.joinpath('ops_zone.csv'))
opz['ops_zone'] = opz['ops_zone'].apply(wkt.loads)
opz = GeoDataFrame(opz, geometry='ops_zone')
opz.sample()

   city_code  ...                                           ops_zone
37       MLM  ...  MULTIPOLYGON (((-101.23843 19.68834, -101.2483...

[1 rows x 5 columns]

In [23]:
zipc = read_csv(BASE_DIR.joinpath('MX_zipcode.csv'))
zipc = GeoDataFrame(zipc, geometry=points_from_xy(zipc['lat'], zipc['lon']))
zipc.sample()

       Unnamed: 0 country_code  ...  accuracy                geometry
18010       18010           MX  ...         3  POINT (17.186 -92.326)

[1 rows x 14 columns]

In [34]:
# aux = opz.sjoin(zipc, how="left", op='within')

In [2]:
from pandas import read_csv

users = read_csv('/Users/efraflores/Desktop/Merchant funded promo UUIDs.csv')
users.sample()

                                              name  ...                         customer_uuid
270667  nvg-ssl-merchants_nl_mx_20220415_treatment  ...  ca2a217b-b9d1-4685-982a-ed6b11f2b141

[1 rows x 3 columns]

In [3]:
orders = read_csv('/Users/efraflores/Desktop/apr_orders.csv')
orders.sample()

                               customer_uuid  ...  total_receipt
393057  b117c7c9-fba4-4f64-9819-b47b5ccc9c23  ...          237.0

[1 rows x 9 columns]

In [18]:
df = users.merge(orders, on='customer_uuid')
df = df[df['name']=='nvg-ssl-merchants_nl_mx_20220415_treatment'].copy()
df.head()

                                         name  ... total_receipt
2  nvg-ssl-merchants_nl_mx_20220415_treatment  ...        240.00
3  nvg-ssl-merchants_nl_mx_20220415_treatment  ...        105.00
4  nvg-ssl-merchants_nl_mx_20220415_treatment  ...        770.93
5  nvg-ssl-merchants_nl_mx_20220415_treatment  ...        526.45
6  nvg-ssl-merchants_nl_mx_20220415_treatment  ...        251.09

[5 rows x 11 columns]

In [20]:
df.to_csv('/Users/efraflores/Desktop/apr_orders_users.csv', index=False)