In [7]:
FILE = '/Users/efraflores/Desktop/result.csv'

In [8]:
import pandas as pd

df = pd.read_csv(FILE)
df.sample()

        category_id        category  product_id         product   price
701770          395  Dermatológicos     1177801  Zeloglin crema  535.61

In [9]:
prod = df.iloc[:,:-1].drop_duplicates('product_id')
prod.shape

(81156, 4)

In [10]:
prices = df.groupby('product_id')['price'].agg(pd.Series.mode).reset_index()
prices.sample()

       product_id   price
20085      318659  129.79

In [11]:
aux = []
for x in prices['price']:
    try: aux.append(float(x))
    except: aux.append(x.mean())

prices['price'] = aux

In [12]:
df = prod.merge(prices)
df.shape

(81156, 5)

In [13]:
df['top'] = df.groupby("category_id")["price"].rank("dense", ascending=False)
df.sort_values(['category_id','top'], ascending=True, inplace=True)
df.head()

,category_id,category,product_id,product,price,top
65324,1,Sopas,180931,Espejo café,214.60,1.0
39862,1,Sopas,1074174,Filtros de repuesto,162.75,2.0
65323,1,Sopas,182003,Cocido Madrileño Litoral Lata 440 Gramos,101.00,3.0
65322,1,Sopas,182007,Fabada Litoral Asturiana Lata 435 Gramos,83.55,4.0
55862,1,Sopas,338679,Rodillo quita pelusa para ropa,75.80,5.0

In [14]:
df.to_csv('/Users/efraflores/Desktop/product_price_rank_MX.csv', sep='\t', encoding='utf-16', index=False)